<h1>タスク一覧</h1>

<%= search_form_for @q do |f| %>
  <%= f.label :time_limit %>
  <%= f.date_field :time_limit_gteq, include_blank: true %>〜<%= f.date_field :time_limit_lteq, include_blank: true %>
  <%= f.label :status %>
  <%= f.select :status_eq, Task.statuses.map{|s|[t("activerecord.enum.status.#{s[0]}"), "#{s[1]}"]} %><br>
  <% Label.all.each do |label| %>
    <%= f.check_box :labels_id_eq_any, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false }, label[:id] %>
    <label><%= label.name %></label>
  <% end %><br>
  <th><%= f.submit %></th>
  <th><%= link_to '検索条件のクリア', request.path %></th>
<% end%>

<%= paginate @tasks %>

  <% @tasks.each do |task| %>
    <div class="box14">
      <span><strong>タスク名</strong><%= task.title %></span>
      <span><strong>終了期限: </strong><%= l task.time_limit, format: :long %></span>
      <span><strong>ステータス:</strong><%=link_to task.status, task_toggle_status_path(task), method: :patch %></span>
      <span>
        <% task.labels.each do |label| %>
          <span><%= label.name %></span>
        <% end %>
      </span>
      <span class="index_pomodoros_show"><%= link_to 'ポモる？', pomodoros_show_path %></span>
      <span class="index_tasks_show"><%= link_to '詳細', task_path(task.id) %></span>
      <span class="index_tasks_edit"><%= link_to '編集', edit_task_path(task.id), data: { confirm: '本当に編集していいですか？' } %></span>
      <span class="index_tasks_delete"><%= link_to '削除', task_path(task.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></span>
    </div>
  <% end %>
</table>
<%= paginate @tasks %>
<%= link_to '新規作成', new_task_path %></a>
