<h1>タスク詳細画面</h1>
<p>タスク名</p>
<p><%= @task.title %></p>
<p>内容</p>
<p><%= safe_join(@task.content.split("\n"),tag(:br)) %></p>
<p>終了期限</p>
<p><%= @task.time_limit %></p>
<p>
  <strong>Status:</strong>
  <%= link_to @task.status, task_toggle_status_path(@task), method: :patch %>
</p>
<p><% @task.labels.each do |label| %>
  <%= label.name %>
  <% end %></p>

<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="task-text">
    <p><strong>タイトル</strong>：<%= @task.title %></p>
    <p><strong>内容</strong>：<%= @task.content %></p>
  </div>
  <p>コメント一覧</p>
  <!-- このcomments_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->
  <div id="comments_area">
    <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
    <%= render partial: 'comments/index', locals: { comments: @comments, task: @task } %>
  </div>
  <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
  <%= render partial: 'comments/form', locals: { comment: @comment, task: @task } %>
  <%= link_to '編集', edit_task_path(@task) %> |
  <%= link_to '戻る', tasks_path %>
</div>
<p><%= link_to 'ポモる？', pomodoros_show_path %></p>
<p><%= link_to 'Back', tasks_path(@task) %></p>
