<!DOCTYPE html>
<html lang="ja">

<html>
  <head>
    <title>Pomotas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header>
      <div class="container">
        <% if current_user.try(:admin?) %>
          <h1>管理者ユーザー</h1>
        <% else %>
          <h1>一般ユーザー</h1>
        <% end %>
        <% if user_signed_in? %>
          <% if current_user.try(:admin?) %>
            <%= link_to "管理画面", admin_users_path %>
          <% end %>
          <%= link_to "Task List", tasks_path %>
          <%= link_to "My Page", user_path(current_user.id) %>
          <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
          <%= link_to "Back to Top", root_path %>
        <% else %>
          <%= link_to "Sign Up", new_user_registration_path %>
          <%= link_to "Log In", new_user_session_path %>
        <% end %>

        <% if notice %>
          <p class="alert alert-notice"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-error"><%= alert %></p>
        <% end %>
      </div>
    </header>
    <div class="container">
    <%= yield %>
    </div>
    <footer>
      <div class="container">
        <p>コピーライトが入ったりするといいかも</p>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
